/*************************** importing libraries ********************************/
/*including google fonts@import url("https://fonts.google.com/specimen/Rubik");
*/

/*************************** custom css style ********************************/
:root {
  /*the website's color palette */
  --dark-grey: hsl(0, 0%, 17%);
  --grey: hsl(0, 0%, 59%);

  /*font combination*/
  --main-font: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 16rem;
  background-image: url(../images/pattern-bg-desktop.png);
  background-size: cover;
  text-transform: capitalize;
  padding-top: 2.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  & h1 {
    color: white;
  }

  & form {
    background-color: white;
    border-radius: 0.5rem;
    width: 35rem;
    height: 3rem;
    display: flex;
    justify-content: center;

    input {
      width: 85%;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
      border-color: transparent;
      outline: none;
      padding-left: 1rem;
      color: var(--grey);
    }

    button {
      width: 16%;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
      border-color: transparent;
      background-color: var(--dark-grey);
    }
  }
}


.resultDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65rem;
  background-color: rgb(248, 248, 248);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 12rem;
  z-index:1;

  .side {
    border-left: 1px solid var(--grey);
    padding-left: 1rem;
    height: 5rem;
    width: 15rem;

    p {
      color: var(--grey);
      font-size: 0.7rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    h2 {
      padding-top: 0.5rem;
      font-size: 1.5rem;
    }
  }
  .one {
    border: none;
  }
}

#map { 
  background-color: brown;
  height: 500px; 
  width: 100%;
  z-index: -1;
}

footer {
  font-size: 11px;
  text-align: center;

  & a {
    color: hsl(228, 45%, 44%);
  }
}